<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hospital Vendor</title>
</head>
<body>

Vendor Name : <input type="text" id="vendorname" value="Apollo Hospital"> <br>


    User : <input type="text" id="userid"> <br>
    Fields : 
    <ul>
        <li>Name</li>
        <li>Email</li>
        <li>Mobile</li>
        <li>Address</li>
        <li>Emergency Name</li>
        <li>Emergency Contact</li>
        <li>UPI ID</li>
    </ul>
    <button id="makerequest">Make Request</button>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

        // set request to none, when no operation
        var current_request = "none";

        // id to username mapper
        function getUsername(id){
            if (id=="264695927509") return "mridulganga"
            else if (id=="963070204596") return "abhinav"
            return "mridulganga"
        }

        // keep updating the userid value with hw input
        setInterval(function(){
            $.get("/rfid", function(data){
                $("#userid").val(data);
            });
        },1000);


        // keep polling for the current request
        setInterval(function(){
            if (current_request!="none"){
                $.get("http://easykey.herokuapp.com/request-status/" + 
                    getUsername($("#userid").val()) +"/" + 
                    current_request, function(data){
                    if (data["status"] == "approved"){
                        alert("User Accepted Operation");
                        console.log(data);
                        current_request = "none";
                    }else if (data["status"]=="declined"){
                        alert("User Declined Operation");
                        current_request = "none";
                    }else{
                        console.log("User didnt perform operation.");
                    }
                });
            }
        },1000);

        // create a request for given id
        $("#makerequest").click(function(){
            $.ajax({
                url: 'http://easykey.herokuapp.com/request',
                type: 'post',
                data:JSON.stringify( {
                    "providername" : $("#vendorname").val(),
                    "type" : "Patient Registration",
                    "description" : "Request for information to register new patient.",
                    "fields" : ["upi", "email", "mobile", "address"],
                    "success" : "success url",
                    "failure" : "failure url",
                    "username" : getUsername($("#userid").val())
                }),
                headers: {
                    "content-type": 'application/json'
                },
                success: function (data) {
                    console.info(data);
                    alert("Request Submitted");
                    // set current request to the received request id
                    current_request = data;
                }
            });
        });
    </script>
</body>
</html>
