<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hospital Vendor</title>
</head>
<body>
    User : <input type="text" id="userid"> <br>
    Fields : 
    <ul>
        <li>Name</li>
        <li>Email</li>
        <li>Mobile</li>
        <li>Address</li>
        <li>Emergency Name</li>
        <li>Emergency Contact</li>
        <li>UPI ID</li>
    </ul>
    <button>Make Request</button>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        setInterval(function(){
            $.get("localhost:5000/rfid", function(data){
                $("#userid").val(data);
            });
        },1000);
    </script>
</body>
</html>
